<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/phone/othernews.css"/>
</head>
<body>
<div id="newsContent"><h1 class="newsTietle">{{atctitle}}</h1>
    <p class="newsDetail">作者：<span>{{createBy}}</span>来源：<span> {{copyfrom}}</span>发布时间：<span>{{commonTime}}</span>
    </p>    {{{atccontent}}}</div>
</body>
</html>